<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Zim Irritech | About</title>
<link rel="stylesheet" type="text/css"
href="../static/css/cms/bootstrap.css">
<link rel="stylesheet" type="text/css"
href="../static/css/cms/bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
href="../static/fontawesome-free/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" 
href="../static/css/style.css">
<link rel="stylesheet" type="text/css" 
href="../static/css/flexslider.css">
<link rel="stylesheet" type="text/css" 
href="../static/css/lightbox.min.css">
</head>
<style>


</style>
<body id="scrollspy">

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
  <a href="home.html" class="navbar-brand"><img src="../static/img/Zim Irritech 150x150px.png"></a>
  <button  type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services.html">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    
  </div>
</nav>


<div class="container about-us">
<h1>About Us</h1>
<div class="row">

<div class="col-md-8 ">

<div class="about-us-f">
<img src="../static/img/Zim Irritech 150x150px.png">
<h2>Background Information</h2>
<p>Block-level boxes start on a new line and act as the main building blocks
of any layout, while inline boxes flow between surrounding text. You can
control how much space each box takes up by setting the width of the
boxes (and sometimes the height, too). To separate boxes, you can use
borders, margins, padding, and background colors.</p>
</div>

<div class="mission-statement about-us colored-style1">
<h2>Mission Statement</h2>
<h4>1. Vision</h4>
<p>Block-level boxes start on a new line and act as the main building blocks
of any layout, while inline boxes flow between surrounding text. You can
control how much space each box takes up by setting the width of the
boxes (and sometimes the height, too).</p>
<h4>2. Values</h4>
<p>Block-level boxes start on a new line and act as the main building blocks
of any layout, while inline boxes flow between surrounding text. You can
control how much space each box takes up by setting the width of the
boxes (and sometimes the height, too).</p>
<h4>3. Motto</h4>
<p>Block-level boxes start on a new line and act as the main building blocks
of any layout, while inline boxes flow between surrounding text. You can
control how much space each box takes up by setting the width of the
boxes (and sometimes the height, too).</p>
</div>

</div>


<div class="col-md-4 about-us colored-style">
    <h4>Private Policy</h4>
<p>Block-level boxes start on a new line and act as the main building blocks
of any layout, while inline boxes flow between surrounding text. You can
control how much space each box takes up by setting the width of the
boxes (and sometimes the height, too). Lorem ipsum dolor sit amet
 consectetur adipisicing elit. Doloremque voluptas quisquam 
 omnis laborum placeat pariatur nisi reprehenderit? Commodi
  quam porro fugit ut dolorum veritatis numquam dolorem doloribu
  s illum, soluta cum nostrum maiores voluptates eligendi</p>

<h4>Terms of use</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Voluptate tempore doloremque quod, magni maiores molestiae?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
 A, esse fuga nam odit quibusdam nobis quod quae sit vel laboriosam.
</p>
</div> 
     
</div>

</div>

            

<section id="contact">
<div class="container">
<div class="row">

  <div class="col-md-4 three_clo">
    <h5>Subscribe to newsletter</h5>
    <p>For updates and newsletter, leave your email.</p>
    <form action="#" method="post">
    <input type="email" name="email" placeholder="Email">
    <button class="btn1">
    <i class="fas fa-envelope-open "></i>
    </button>
    </form>
    </div>
    
    <div class="col-md-4 mid-row">
    <h5>Connect On Social Media</h5>
    <p>Connect and share on our social platforms.</p>
    <div class="social-icon">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    </div>
    
    <div class="col-md-4 contact">
    <h5>Contact Us</h5>
    <p><i class="fas fa-map-marker-alt"></i><span class="number"> Shumba Rd Ruwa, Harare</span></p>
    <p><i class="fas fa-phone"></i><span class="number">(0) 242 123 456</span></p>
    <p><i class="fas fa-envelope-open"></i><span class="number"><a href="mailto:@exapmle.com" class="info"></a>info@zimirritech.co.zw</span></p>
    <p><i class="fas fa-calendar"></i>Office hrs: <span class="number">Mon - Fri (0800-1600)</p>
    </div>
    
    </div>
    </div>
    </section>
    <footer>
    <p class="f-left">&copy; 2019 Zim Irritech | All rights reserved</p>
    <p class="f-right">Website by My Club Zw</p>
    </footer>
    
    <script type="text/javascript" src="../static/js/lightbox-plus-jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript">
  document.getElementById("btn").onclick = function(){
      alert("Subscribe to Zim Irritech")
  }
</script>
</body>
</html>
