<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Zim Irritech | Gallery</title>
<link rel="stylesheet" type="text/css"
href="../static/css/cms/bootstrap.css">
<link rel="stylesheet" type="text/css"
href="../static/css/cms/bootstrap.min.css">
<link rel="stylesheet" type="text/css" 
href="../static/fontawesome-free/css/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" 
href="../static/css/style.css">
<link rel="stylesheet" type="text/css" 
href="../static/css/flexslider.css">
<link rel="stylesheet" type="text/css" 
href="../static/css/lightbox.min.css">
</head>
<style>
.inform{
background: url('../static/img/image6.jpg') 0px 0px fixed;
background-size: cover;
padding-top: 30px;
padding-bottom: 30px;
color:#fff;
}

</style>
<body id="scrollspy">

<div class="banner">

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
  <a href="home.html" class="navbar-brand"><img src="../static/img/Zim Irritech 150x150px.png"></a>
  <button  type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services.html">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    
  </div>
</nav>

<div class="gallery">
<div class="container">
<h3><i>Recent Work...</i></h3>
<div class="gallery-grids">
<div class="row">
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/image8.jpg" data-lightbox="example-set" data-title="SADC">
<img class="img-fluids" src="../static/img/image8.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/image3.jpg" data-lightbox="example-set" data-title="Beatrice Farm">
<img class="img-fluids" src="../static/img/image3.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/image4.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/image4.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/image5.jpg" data-lightbox="example-set" data-title="Amristar Eye Clinic">
<img class="img-fluids" src="../static/img/image5.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/image6.jpg" data-lightbox="example-set" data-title="Free Billboard">
<img class="img-fluids" src="../static/img/image6.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/service0.jpg" data-lightbox="example-set" data-title="Dulux Paints Zim">
<img class="img-fluids" src="../static/img/service0.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/service1.jpg" data-lightbox="example-set" data-title="OK Zimbabwe">
<img class="img-fluids" src="../static/img/service1.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/service2.jpg" data-lightbox="example-set" data-title="PowerTel Zimbabwe">
<img class="img-fluids" src="../static/img/service2.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service3.jpg" data-lightbox="example-set" data-title="Red Seal">
<img class="img-fluids" src="../static/img/service3.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service4.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service4.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service5.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service5.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service6.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service6.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service7.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service7.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service8.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service8.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service9.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service9.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service10.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service10.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service11.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service11.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/service12.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/service12.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/image8.jpg" data-lightbox="example-set" data-title="SADC">
<img class="img-fluids" src="../static/img/image8.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/image3.jpg" data-lightbox="example-set" data-title="Beatrice Farm">
<img class="img-fluids" src="../static/img/image3.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/image4.jpg" data-lightbox="example-set" data-title="Dezembro Biergarten">
<img class="img-fluids" src="../static/img/image4.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/image5.jpg" data-lightbox="example-set" data-title="Amristar Eye Clinic">
<img class="img-fluids" src="../static/img/image5.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4  gallery_grid_img">
<a class=""  href="../static/img/image6.jpg" data-lightbox="example-set" data-title="Free Billboard">
<img class="img-fluids" src="../static/img/image6.jpg">
</a>
</div>
<div class="col-sm-12 col-md-2 col-sm-4 gallery_grid_img">
<a class=""  href="../static/img/service0.jpg" data-lightbox="example-set" data-title="Dulux Paints Zim">
<img class="img-fluids" src="../static/img/service0.jpg">
</a>
</div>

</div>
</div>
</div>

<section id="contact">
<div class="container">
<div class="row"><div class="col-md-4 three_clo">
  <h5>Subscribe to newsletter</h5>
  <p>For updates and newsletter, leave your email.</p>
  <form action="#" method="post">
  <input type="email" name="email" placeholder="Email">
  <button class="btn1">
  <i class="fas fa-envelope-open "></i>
  </button>
  </form>
  </div>
  
  <div class="col-md-4 mid-row">
  <h5>Connect On Social Media</h5>
  <p>Connect and share on our social platforms.</p>
  <div class="social-icon">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  </div>
  
  <div class="col-md-4 contact">
  <h5>Contact Us</h5>
  <p><i class="fas fa-map-marker-alt"></i><span class="number"> Shumba Rd Ruwa, Harare</span></p>
  <p><i class="fas fa-phone"></i><span class="number">(0) 242 123 456</span></p>
  <p><i class="fas fa-envelope-open"></i><span class="number"><a href="mailto:@exapmle.com" class="info"></a>info@zimirritech.co.zw</span></p>
  <p><i class="fas fa-calendar"></i>Office hrs: <span class="number">Mon - Fri (0800-1600)</p>
  </div>
  
  </div>
  </div>
  </section>
  <footer>
  <p class="f-left">&copy; 2019 Zim Irritech | All rights reserved</p>
  <p class="f-right">Website by My Club Zw</p>
  </footer>
  
  <script type="text/javascript" src="../static/js/lightbox-plus-jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
</body>
</html>
